.fcomp{
    background-color: rgb(226, 209, 209);
}
.fname {
    position: absolute;
    left: 20%;
    top:10%;
}
.lname {
    position: absolute;
    right: 20%;
    top:10%;
}
.email {
    position: absolute;
    left: 20%;
    top: 15%;
}
.dob{
    position: absolute;
    right: 20%;
    top:15%;
}
.save{
    position:absolute;
    top:20%;
}
.div{
    /*top : 10%;
    position: absolute;
    margin-top: 160px;
    left : 40%;*/
    margin: 150px;
    border: 1px solid #eef5ee;
    background-color: rgb(248, 245, 240);
}
.font{
    font-size: 5px;
}
.table{
    margin-left: auto; 
    margin-right: auto;
    margin-top: 15%;
    width:70%;
    border: 1px solid black;
    border-collapse:collapse;
}
.thboder{
    border: 1px solid black;
}